@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    var orders = ViewBag.orders;
    var startDate = ViewBag.startDate != null ? ViewBag.startDate : null;
    var expirationDate = ViewBag.expirationDate != null ? ViewBag.expirationDate : null;
    var typePay = ViewBag.typePay != null ? ViewBag.typePay : null;
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("en-US");
    PayCartOnline.Models.CheckUser isCheck = Session["Account"] != null ? (PayCartOnline.Models.CheckUser)Session["Account"] : null;
    var count = ViewBag.count == null ? 0 : ViewBag.count;
}
<div class="all_noidung_admin">
    <div class="box_giaodien_doanhnghiep">
        <div class="container content-pay">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="box_info_doanhnghiep">
                        <div class="img_thumb_info_doanhnghiep"><img style="width: 100%; height: 80px;" src="https://vtcpay.vn/Content/images/df_avt.png" alt=""></div>
                        <div class="text_info_doanhnghiep">
                            @isCheck.Phone

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <ul class="box_all_tien_doanhnghiep">
                        <li><em>Tổng số đơn hàng</em>@count</li>
                        <li><a href="">Giao diện mua hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box_noidung_thongtin_admin">
        <div class="container content-pay">
            <h4 class="text_tieude_all_doanhnghiep">LỊCH SỬ GIAO DỊCH</h4>
            <ul class="list_boloc_all_timkiem">

                <li>
                    <label class="tieude_input_small">Từ ngày</label>
                    <div id="sandbox-container">
                        <div class="input-group date" id="fromDateaddon">
                            @if (startDate is null)
                            {
                                <input type="date" id="startDate" name="startDate" class="form-control" value="@startDate" > // a mún set chô này nè
                            }
                            else
                            {
                                <input type="date" id="startDate" name="startDate" class="form-control" placeholder="dd/mm/yyy">
                            }

                            @*<span class="input-group-addon"><img src="https://vtcpay.vn/Content/images/img_date.png"></span>*@
                        </div>
                    </div>
                </li>
                <li>
                    <label class="tieude_input_small">Đến ngày</label>
                    <div id="sandbox-container">
                        <div class="input-group date" id="toDateaddon">
                            <input type="date" id="expirationDate" name="expirationDate" class="form-control" placeholder="dd/mm/yyy" >
                        </div>
                    </div>
                </li>
                <li>
                    <label class="tieude_input_small">Hình thức thanh toán</label>
                    <select class="select_loai_gd_all" id="typePay" name="typePay">
                        <option value="0">Tất cả</option>
                        <option value="1">VN PAY</option>
                        <option value="2">MoMo</option>

                    </select>
                </li>
                <li>
                    <label class="tieude_input_small">Trạng thái</label>
                    <select class="select_loai_gd_all" id="status" name="typePay">
                        <option value="0">Tất cả</option>
                        <option value="1">Thành công</option>
                        <option value="2">Chưa thanh toán</option>

                    </select>
                </li>
                <li>
                    <button onclick="SearchOrder()" class="btn btn-primary" style="margin-top: 29px;width: 150px;">Tìm kiếm</button>
                </li>

            </ul>
            <div class="clear"></div>
            <div class="row">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Mã Đơn hàng</th>
                            <th>Số Điện Thoại</th>
                            <th>Nhà Mạng</th>
                            <th>Mệnh Giá</th>
                            <th>Thể Loại Thẻ</th>
                            <th>Phương Thức Thanh Toán</th>
                            <th>Tên Ngân Hàng</th>
                            <th>Trạng Thái</th>
                            <th>Ngày Thanh Toán</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="content">                 
                            @foreach (var item in orders)
                            {
                        <tr>
                            <td>@item.Code_Order</td>
                            <td>@item.Phone </td>
                            <td>@item.Brand</td>
                            <td>@String.Format(culture, "{0:N0}", @item.Price)</td>
                            <td>@item.CardType</td>
                            <td>VNPAY</td>
                            <td>@item.BankCode</td>
                            <td>@item.Status</td>
                            <td>@item.Create_At</td>
                            @if (item.Status == "Thành Công")
                            {
                                <td><a href="/User/DetailsOrder?id=@item.Id_order"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                            }
                            else
                            {
                                <td><a href="/Home/RePay?id=@item.Id_order&menhgia=@item.ID_Denomination&moblie=@item.Phone&nhamang=@item.Brand&type=@item.CardType">Thanh toán lại</a></td>
                            }
                            
                        </tr>
                            }


                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Mã Đơn hàng</th>
                            <th>Số Điện Thoại</th>
                            <th>Nhà Mạng</th>
                            <th>Mệnh Giá</th>
                            <th>Thể Loại Thẻ</th>
                            <th>Phương Thức Thanh Toán</th>
                            <th>Tên Ngân Hàng</th>
                            <th>Trạng Thái</th>
                            <th>Ngày Thanh Toán</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div id="TransactionHistoryPartial"></div>
            <div id="TransactionHistoryListCard"></div>
        </div>
    </div>
    <div id="PopupTransactionHistoryDetail"></div>
    <link href="https://vtcpay.vn/Content/js/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://vtcpay.vn/Content/js/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
</div>

<script src="~/Scripts/Customine/js/HistoryDetail.js"></script>
