

@{
    ViewBag.Title = "AddDenomination";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    PayCartOnline.Models.Denomination record = ViewBag.data;
}

<div class="content-wrapper" style=" background-color: white; ">
    <!-- Content Header (Page header) -->
    <div class="content-header">

        <div class="row mb-2">
            <div class="col-sm-6">

                <ol class="breadcrumb float-sm-left">

                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">
                        <a href="/Admin/Denomination">Manage Denomination</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Denimonation
                    </li>
                </ol>
            </div><!-- /.col -->

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a class="btn btn-light" href="/Admin/Denomination"><i class="fas fa-backward"></i> Back</a>
                </ol>
            </div>
        </div>
        <form action="/Admin/Denomination/CreateOrUpdate" method="post">
            @Html.AntiForgeryToken()
            <hr>

            <div class="form-group mt-4" style="display:none">
                <label class="control-label col-md-2" for="Price">ID</label>
                <div class="col-md-5">
                    <input class="form-control text-box single-line" id="id" name="id" type="text" required value="@record.ID"/>
                          
                    <span class="field-validation-valid text-danger" id="errPrice" style="font-weight: 600; font-size: 15px;"></span>
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="control-label col-md-2" for="Price">Price</label>
                <div class="col-md-5">
                    <input class="form-control text-box single-line" id="Price" name="Price" type="number" value="@record.Price" required 
                           placeholder="money VND" min="1" max="1000000">
                    <span class="field-validation-valid text-danger" id="errPrice" style="font-weight: 600; font-size: 15px;"></span>
                </div>
            </div>

            <div class="form-group mt-4">
                <label class="control-label col-md-2" for="Price">Status</label>
                <div class="col-md-5">
                    <select class="form-control" id="Status" name="Status">
                        @if (record.Status.Equals("On"))
                        {
                            <option value="1" selected="">@record.Status</option>
                        }
                        else
                        {
                            <option value="0">@record.Status</option>
                        }



                    </select>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default">
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/Customine/js/Denomination.js"></script>
